# LaTeX archivos auxiliares de compilación
*.aux
*.log
*.toc
*.out
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.bbl
*.blg
*.nav
*.snm
*.vrb
*.idx
*.ilg
*.ind
*.bcf
*.run.xml

# Python
__pycache__/
*.pyc

# Entornos virtuales
venv/
.venv/
env/

# Tests
.pytest_cache/
.coverage
htmlcov/

# Artefactos y datos
data/graficos/
